/* admin bar fix */
body.admin-bar {
  max-height: calc(100vh - 32px);
}

.align-centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontpage-banner {
  margin-bottom: 2rem;
}
